body
{
    font-family: 'Special Elite', cursive;
    background: rgb(199, 197, 197);
}
.header_div
  {
  background: rgb(109, 102, 102);
  color: #ffffff; 
}
.header_div p{
    font-family: 'Roboto', sans-serif;
    color: rgb(223, 219, 219);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto', serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color: #c0c2c5;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #635d5d;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
 }
